<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Corona Virus Tracker</title>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
<h1>Corona Virus Tracker App</h1>
<div class="jumbotron">
    <h1 class="display-4" th:text="${TotalCases}"></h1>
    <p class="lead text-center" >Total Confirmed Cases of Covid-19 around the world as of today.</p>
    <hr class="my-4">
    <h1 class="display-4" th:text="${NewCases}"></h1>
    <p class="lead text-center" >Total Newly Reported Covid-19 cases around the world since previous day previous day</p>
</div>

<table class="table">
    <tr>
        <th>Country/Region</th>
        <th>Province/State</th>
        <th>Total Reported Cases</th>
        <th>Delta Change Since Last Day</th>
    </tr>
    <tr th:each="locationStatistic : ${locationStatistics}">
        <td th:text="${locationStatistic.getCountry()}" ></td>
        <td th:text="${locationStatistic.getState()}"></td>
        <td th:text="${locationStatistic.getLatestCases()}"></td>
        <td th:text="${locationStatistic.getDeltaDiffrence()}"></td>
    </tr>
</table>
</div>
</body>
</html>